body {
    margin: 0%;
    top: 0%;
    padding: 0%;
    background-color: rgb(18, 18, 18);
}





/* HEADER */

header {
    background-color: black;
    padding: 5px;
}

.headerzao {
    display: flex;
    justify-content: center;
    /* centraliza horizontalmente */
    align-items: center;
    /* alinha verticalmente */
    gap: 40px;
    /* espaço entre logo e links */
}

#logo img {
    height: 70px;
    width: 70px;
}

#páginas a {
    color: #4840d6;
    text-decoration: none;
    margin: 0 15px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif
}






/* TEXTOS E LISTAS */

h1{
    color: #4840d6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}

h3{
    color: #4840d6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}

#nome{
    color: #7770ee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    text-align: center;
    width: 150px;
}

ol {
    color: #4840d6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

ul {
    color: #4840d6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.topicos{
    margin-top: 50px;
    transition: transform 0.3s ease;
}

.topicos:hover{
    transform: scale(1.1);
    color: #7770ee;
    font-weight: bolder;
}

.lista{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    gap: 100px;
    margin-left: 200px;
    margin-top: 40px;
}

.lista_b{
    display: flex;
    justify-content: space-around;
    width: 1100px;
    gap: 100px;
    margin-left: 200px;
    margin-top: 50px;
}

#conteudo{
    margin-top: 30px;
    width: 600px;
}

a{
    text-decoration: none;
}







/* PÁGINA */

.intro {
    display: flex;
    align-items: center;
    /* alinha verticalmente */
    justify-content: center;
    /* centraliza horizontalmente */
    gap: 20px;
    padding: 20px;
    text-align: left;
    /* mantém o texto alinhado dentro do bloco */
    margin-bottom: 20px;
}

footer{
    background-color: black;
    position: fixed;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
}






/* IMAGENS */
.foto img {
    height: 280px;
    width: auto;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid #4840d6;
    box-shadow: 0 0 10px #4840d6;
}

.eu1{
    transition: transform 0.3s ease;
}

.eu1:hover{
    content: url("/imgs/eu1_0.jpg");
    transform: scale(1.1);
}

.eu2{
    transition: transform 0.3s ease;
}

.eu2:hover{
    content: url("/imgs/eu2_0.jpg");
    transform: scale(1.1);
}

.eu3{
    transition: transform 0.3s ease;
}

.eu3:hover{
    content: url("/imgs/eu3_0.jpg");
    transform: scale(1.1);
}

.eub{
    margin-top: 60px;
    transition: transform 0.3s ease;
}

.eub:hover{
    content: url("/imgs/foto_1_1.jpg");
    transform: scale(1.1);
}

.paraty{
    margin-left: -300px;
    transition: transform 0.3s ease;
}

.paraty:hover{
    content: url("/imgs/paraty2.jpg");
    transform: scale(1.1);
}

.bia_aesthetic{
    transition: transform 0.3s ease;
}

.bia_aesthetic:hover{
    transform: scale(1.1);
}

.atenas{
    margin-left: -300px;
    transition: transform 0.3s ease;
}

.atenas:hover{
    content: url("/imgs/seul.jpg");
    transform: scale(1.1);
}