* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: black;
}

body {
    background-image:url(/imgs/estrelas.gif) ;
    color: white;
    font-family: 'Poppins', Arial, sans-serif;
    line-height: 1.6;
    padding-bottom: 50px;
}


#titulo-centro {
    text-align: center;
    padding: 40px 0 20px;
    font-size: 3.2em;
    text-shadow: 2px 2px 10px rgb(11, 9, 69);
}


#foto {
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    border: 6px solid rgb(65, 1, 64);
    box-shadow: 0px 0px 25px rgb(65, 1, 64);
    transition: transform 0.3s ease;
}

#foto:hover {
    transform: scale(1.10);
}



.titulos {
    text-align: center;
    font-size: 1.8em;
    margin-top: 15px;
}

#idade {
    text-align: center;
    color: #ddd;
    font-weight: normal;
    margin-bottom: 25px;
}


.secao {
    background-color: rgba(71, 4, 92, 0.3);
    margin: 30px auto;
    width: 80%;
    max-width: 800px;
    border-radius: 20px;
    padding: 20px 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
.secao:hover{
    transform: scale(1.09);
    transition: 200ms;
}


.secao h2 {
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
    text-align: center;
}

.listas {
    margin-left: 30px;
    font-size: 1.1em;
}

li {
    margin: 8px 0;
}


hr {
    border: none;
    height: 2px;
    background: linear-gradient(to right, transparent, rgb(109, 71, 71), transparent);
    margin: 30px 0;
}
